.homy {
    padding: 150px 50px 100px 50px;
    text-align: center;
    background-image: url(cod.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    top: 0;
    right: 0;

    
}

.homy:after{
    content: '';
    width: 100%;
    background: black;
    position: absolute;
    background-size: cover;
    right: 0;
    top: 0; 
    height: 100%;
    opacity: 50%;

}
.hi{
    font-size: 40px;
    color: lightgrey;
    margin: 5px;
}
.im{
    font-size: 50px;
    color: white;
    margin: 5px;
    font-weight: bolder;
}
.myName{
    font-size: 35px;
    font-weight: bolder;
    color:rgb(228, 228, 57);
    margin: 0;
}
.dev{
    font-size: 30px;
    color: white;
    font-weight: bolder;
    margin: 20px 5px;
}
.contacts{
    margin: 10px;
}
.contactMe{
    margin: 0 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: white;
    border: none;
}
.readMore{
    margin: 0 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgb(228, 228, 57);
    border: none;
    color: black;
}
.intro, .socs, .contacts {
    position: relative;
    z-index: 1;
}
.socIcon{
    color: #fff;
    font-size: 35px;
    margin:30px 5px;
    font-weight: bolder;
    border-radius: 100;
}
.socIcon:hover{
    transition: .5s;
    color: rgb(228, 228, 57);
}
@media (max-width:768px) {
    .homy{
        background-size: cover;
    }
}